section {
    margin: 20px 0px 20px 0px; 
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
    background-size: cover;
    background-image: url("src/assets/images/main-character-background.jpg");
    box-shadow: 0 5px 5px rgba(0, 0, 0, .8);
} 

button.btn.btn-lg-rd{
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 20px;
    width: 150px;
    transition: 0.6s;
    font-family: "montserrat";
    letter-spacing: 0.1em;
}

button.btn.btn-lg-rd:hover{
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 20px;
    width: 200px;
}

