h3{
    letter-spacing: 0.2em;
}

.box-card {
    text-decoration: none;
    font-family: "montserrat";
}

.card {
    overflow: hidden;
    cursor: pointer;
    height: 380px;
    width: 250px;
    margin: 10px;
    border: none;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .8);
    background-color: transparent;
}

.front, .back {
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .8);
    position: absolute;
    transition: transform .6s linear;
}

.front-image {
    border-radius: 2px;
    height: 100%;
    width: 100%;
}


.front {
    transform: perspective(600px) rotateY(0deg)
}

.back {
    background: #ffffff;
    transform: perspective(600px) rotateY(180deg)
}

.back-content {
    color: #2c3e50;
    text-align: center;
    width: 100%;
}

.link {
    margin: 20px 0;
}

.link a {
    display: inline-flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    font-size: 18px;
}

.link a:hover{
    text-decoration: none;
}

.card:hover > .front {
    transform: perspective(600px) rotateY(-180deg);
    box-shadow: 0 25px 60px rgba(0, 0, 0, .8);
}

.card:hover > .back {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 25px 60px rgba(0, 0, 0, .8);
}


