<nav class="navbar navbar-expand-md navbar-light bg-color">
    <!-- nav -->

    <div class="container">

        <a href="#" class="navbar-brand"><i class="fab fa-monero text-light text-uppercase font-weight-bold"></i></a>
        <!-- logo  -->
        <button type="button" class="navbar-toggler bg-light" data-toggle="collapse" data-target="#nav"><span
                class="navbar-toggler-icon"></span></button>

        <div class="collapse navbar-collapse justify-content-between" id="nav">
            <ul class="navbar-nav">
                <li class="nav-item dropdown"><a
                        class="nav-link text-light text-uppercase font-weight-bold px-3 dropdown-toggle"
                        data-toggle="dropdown" href="">Explore</a>

                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Characters</a>
                        <a class="dropdown-item" href="#">Comics</a>
                        <a class="dropdown-item" href="#">Creators</a>
                        <a class="dropdown-item" href="#">Events</a>
                        <a class="dropdown-item" href="#">Series</a>
                        <a class="dropdown-item" href="#">Stories</a>
                    </div>

                </li>
                <li class="nav-item"><a class="nav-link text-light text-uppercase font-weight-bold px-3"
                        href="">About</a></li>
                <li class="nav-item"><a class="nav-link text-light text-uppercase font-weight-bold px-3" href="">API</a>
                </li>
            </ul>

            <form class="form-inline m-2">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search ...">
                    <div class="input-group-append">
                        <button type="button" class="btn"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div> <!-- end collapse -->

    </div>

</nav> <!-- end nav -->