<footer @footerAnimation class="bg-color p-0 m-0">
  <div class="container">
    <div class="row">
      <div class="col text-center">

        <h4 class="p-3"><a href="http://marvel.com" class="text-white font-weight-light text-capitalize">
            {{ copyright }} </a></h4>
        <h6 class="text-white font-weight-light"> This website was made by Aaron Ostroski,<br /> check my GitHub.</h6>
        <a href="https://github.com/aaronostroski" class="text-white font-weight-light"><i
            class="fab fa-github"></i></a>

      </div>
    </div>
  </div>
</footer>