/* You can add global styles to this file, and also import other style files */

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0; 
}

body {
    background-color: rgb(255, 255, 255);                                            
}

footer {
    bottom: 0;
    left: 0;
    right: 0;
}

/* main */
h3 {
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    font-family: 'Helvetica Neue', sans-serif; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    margin-left: 10px;
}

.box-card {
    text-decoration: none;
    font-family: "montserrat";

}

.card {
    overflow: hidden;
    cursor: pointer;
    height: 380px;
    width: 230px;
    margin: 10px;
    border: none;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .8);
    background: transparent
}

.front, .back {
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .8);
    position: absolute;
    transition: transform .6s linear;
}

.front-image {
    border-radius: 2px;
    height: 100%;
    width: 100%;
}

.back-image{
    background: transparent;
    position: absolute;
    opacity: 0.2;
    border-radius: 2px;
    height: 100%;
    width: 100%;
}


.front {
    transform: perspective(600px) rotateY(0deg)
}

.back {
    background: #ffffff;
    transform: perspective(600px) rotateY(180deg)
}

.back-content {
    position: absolute;
    color: #2c3e50;

    width: 100%;
}

.link {
    margin: 20px;
}

.link a {
    justify-content: center;
    font-size: 18px;
}

.link a:hover{
    text-decoration: none;
}

.card:hover > .front {
    transform: perspective(600px) rotateY(-180deg);
    box-shadow: 0 25px 60px rgba(0, 0, 0, .8);
}

.card:hover > .back {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 25px 60px rgba(0, 0, 0, .8);
}


/* main */